---

---

<div class="max-w-3xl mx-auto my-5 bg-white shadow-lg rounded-lg p-6">
  <h2 class="text-xl font-semibold mb-4">Term</h2>
  <p class="text-gray-700 mb-6">
    La prueba para comparar dos grupos independientes uno de 30 sujetos y el
    otro de 28 y variables cuantitativas es:
  </p>

  <div
    class="text-sm leading-relaxed flex items-center font-bold mb-5 gap-4 h-8"
    data-testid="study-question-answers-label"
  >
    Choose matching definition
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class=" flex gap-4 border border-gray-300 rounded-lg p-4 hover:bg-gray-100 transition">
      <div class=" text-center font-semibold text-sm leading-relaxed bg-gray-300 rounded-full text-gray-600 flex-shrink-0 h-6 w-6 mr-4">
        <span>
            1
        </span>
    </div>
      <button >
        U de Mann-Whitney
      </button>
    </div>
    <button
      class="border border-gray-300 rounded-lg p-4 hover:bg-gray-100 transition"
    >
      H de Kruskal Wallis
    </button>
    <button
      class="border border-gray-300 rounded-lg p-4 hover:bg-gray-100 transition"
    >
      F de Snedecor
    </button>
    <button
      class="border border-gray-300 rounded-lg p-4 hover:bg-gray-100 transition"
    >
      T de Student
    </button>
  </div>
</div>
<button class="mt-4 text-blue-500 w-full text-center font-bold hover:underline">
  Don't know?
</button>
